<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 th:text="#{potal.complaint.title.detail}" class="h3 mb-4 text-gray-800">불만사항 상세</h1>

        <div class="row">

            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 th:text="#{potal.complaint.detail}" class="m-0 font-weight-bold text-primary" >상세</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col width="20%">
                                    <col width="30%">
                                    <col width="20%">
                                    <col width="30%">

                                </colgroup>
                                <tbody>
                                <tr>
                                    <th th:text="#{potal.complaint.title}">제목</th>
                                    <td colspan="3" th:text="${complainVO.postTtl}">왜 이렇게 과태료가 많이 나왔죠? 불만사항은 단속 번호가 없다.</td>
                                </tr>

                                <tr>
                                    <th th:text="#{potal.complaint.email}">이메일</th>
                                    <td th:text="${complainVO.wrtrEmail}">blue22@naver.com</td>
                                    <th th:text="#{potal.complaint.registDate}">등록일</th>
                                    <td th:text="${complainVO.crDt}">2020-11-22</td>
                                </tr>
                                 <tr>
                                    <th th:text="#{potal.complaint.category}">카테고리</th>
                                    <td th:text="${complainVO.cdNm}">과태료</td>
                                    <th th:text="#{potal.complaint.aon}">답변여부</th>
                                    <td th:text="${complainVO.ansStts}=='Y'?'완료':'미완료'">미완료</td>
                                </tr>
                                <tr>
                                    <th th:text="#{potal.complaint.inquriy}">내용</th>
                                    <td colspan="3" th:text="${complainVO.postCn}">과태료가 생각보다 많이나왔어요 확인해주세요.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 th:text="#{potal.complaint.answer}" class="m-0 font-weight-bold text-primary" >답변</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col width="20%">
                                    <col width="30%">
                                    <col width="20%">
                                    <col width="30%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th th:text="#{potal.complaint.answerContent}">답변 내용</th>
                                    <td colspan="3"><textarea class="form-control"id="txtAnsContents" name="ansContents" rows="15" th:text="${complainVO.ansContents}"></textarea></td>
                                </tr>
                                </tbody>
                            </table>
                            <button th:text="#{penalty.common.listBack}" type="button" id="btnGoList" class="btn btn-outline-secondary" th:onclick="|location.href='@{/portal/objectionList}'|">목록</button>
                            <button th:text="#{potal.complaint.submit}" type="button" id="btnRegist" class="btn btn-outline-warning">답변 전송</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>



</th:block>
</html>
<script th:inline="javascript">



</script>