<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800" th:text="#{enforcement.law.list.title}">교통단속 법률관리</h1>

        <div class="row">


            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" th:text="#{enforcement.law.list.searchOp}">검색조건</h6>
                    </div>
                    <div class="card-body">
                        <form id="frmSearch" method="get">
                            <input type="hidden" id="hdnStart" name="start" th:value="${lawVO.start}">
                            <label th:text="#{enforcement.law.list.startDate}">시작일</label>
                            <input class="form-control col-lg-2" id="sDate" name="sDate" type="date" th:value="${lawVO.getSDate()}">
                            &nbsp;&nbsp;&nbsp;
                            <label th:text="#{enforcement.law.list.endDate}">종료일</label>
                            <input class="form-control col-lg-2" id="eDate" name="eDate" type="date" th:value="${lawVO.getEDate()}">
                            &nbsp;&nbsp;&nbsp;
                            <label>
                                <select class="form-control" name="searchType" th:value="${lawVO.searchType}">
                                    <option value="all" th:selected="${lawVO.searchType == 'all'}" th:text="#{enforcement.law.list.selectAll}">전체</option>
                                    <option value="lawArticl" th:selected="${lawVO.searchType == 'lawArticl'} " th:text="#{enforcement.law.list.legalNumber}">법률번호</option>
                                    <option value="lawNm" th:selected="${lawVO.searchType == 'lawNm'}" th:text="#{enforcement.law.list.nameOfLow}">법률명</option>
                                    <option value="crtr" th:selected="${lawVO.searchType == 'crtr'}" th:text="#{enforcement.law.list.constructer}">생성자</option>
                                </select>
                            </label>
                            <input class="form-control col-lg-3" name="searchTxt" type="text" th:value="${lawVO.searchTxt}" >
                            &nbsp;&nbsp;&nbsp;


                            <button type="button" id="btnSearch" class="btn btn-outline-primary"  th:text="#{enforcement.law.list.check}">조회</button>
                        </form>
                    </div>
                </div>
            </div>



            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="display: inline;" th:text="#{enforcement.law.list.trafficEnforcementLawList}">교통단속 법률 리스트</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <table class="table table-bordered dataTable" id="tblList" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 20px;" th:text="#{enforcement.law.list.tableNumber}">No.</th>
<!--                                                <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 20px;">law idx</th>-->
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 50px;" th:text="#{enforcement.law.list.legalNumber}">법률 번호</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 80px;" th:text="#{enforcement.law.list.nameOfLow}">법률명</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;" th:text="#{enforcement.law.list.legalExplanation}">법률 설명</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;" th:text="#{enforcement.law.list.creationDate}">생성일</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 40px;" th:text="#{enforcement.law.list.constructer}">생성자</th>
                                            </tr>
                                            </thead>

                                            <tbody>

                                            </tbody>
                                        </table>
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_info">
                                                <button type="button" id="btnRegist" class="btn btn-outline-success" th:onclick="|location.href='@{/enf/lawRegist}'|" th:text="#{enforcement.law.list.lawRegistration}">법률 등록</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <!-- Alert Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--                <div class="modal-header">-->
                <!--                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
                <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                <!--                        <span aria-hidden="true">&times;</span>-->
                <!--                    </button>-->
                <!--                </div>-->
                <div class="modal-body" id="divModalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnModalClose" th:text="#{enforcement.law.list.close}">닫기</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>
<script th:inline="javascript">
    /*<![CDATA[*/

    $(function (){

        $('#tblList').DataTable({
            "destroy" : true,
            "processing" : false,
            "serverSide" : true,
            "paging" : true,
            "searching" : false,
            "ordering" : false,
            "lengthChange" : false,
            "displayStart": /*[[ ${lawVO.start} ]]*/ 10,
            "language" : {
                "emptyTable" : "조회 결과가 없습니다."
            },
            initComplete: function () {
                $(".paginate_button").off("click");
            },
            ajax : {
                url : /*[[@{/enf/lawListAjax}]]*/ "/enf/lawListAjax",
                method : "post",
                data : function(d){
                    var frmData = $("#frmSearch").serializeArray();
                    $.each(frmData,function (key, val) {
                        d[val.name] = val.value;
                    })
                }
            },
            columns : [
                {
                    render : function (data, type, row, meta) {
                        return meta.settings._iRecordsTotal-meta.settings._iDisplayStart-meta.row;
                    }
                }
                // , { data: 'tfcLawId' }
                , {
                    data: 'lawArticl',
                    render : function(data, type, row, meta) {
                        return '<a href="javascript:;" onclick="goDetail(\''+row.tfcLawId+'\')">' + data + '</a>';
                    }
                }
                , {
                    data: 'lawNm',
                    render : function(data, type, row, meta) {
                        return '<a href="javascript:;" onclick="goDetail(\''+row.tfcLawId+'\')">' + data + '</a>';
                    }
                }
                , {
                    data: 'lawDesc',
                    render: function (data, type, row, meta) {
                        if(data.length > 11){
                            return data.substring(0,11)+"...";
                        }else{
                            return data;
                        }
                    }
                }
                , { data: 'crDt' }
                , { data: 'crtr' }
            ]
        })
    })



    function goDetail(idx){
        var baseUrl = /*[[@{/enf/lawDetail}]]*/ '';
        window.location.href=baseUrl+"?lawId="+idx;
    }



    /*]]>*/
</script>