<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 th:text="#{penalty.penalty.title.detail}" class="h3 mb-4 text-gray-800">범칙금 상세정보</h1>

        <div class="row">

            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col width="30%">
                                    <col width="70%">

                                </colgroup>
                                <tbody>
                                <tr>
                                	<th th:text="#{penalty.penalty.penaltyName}">위반 내용</th>
                                	<td class="form-control" id="penaltyName" th:text="${finePymntInfo.penaltyname}"></td>
                                </tr>
                                <tr>
                                	<th th:text="#{penalty.penalty.totalPrice}">범칙금</th>
                                	<td>
                                		<p>위반 내용에 따라 범칙금이 부과됩니다.</p>
                                		<p><span id="price" th:text="${finePymntInfo.totalPrice}" ></span>원</p>
                                	</td>
                                </tr>
                                <tr>
                                	<th th:text="#{penalty.penalty.condition}">납부 여부</th>
                                	<td th:text="${finePymntInfo.pymntStts}=='Y'?'납부':'미납'"></td>
                                </tr>
                                <tr>
                                	<th th:text="#{penalty.penalty.endDay}">납부 기한</th>
                                    <!-- <td th:text="${finePymntInfo.pymntDdln}"></td> -->
                                    <td><input type="date" class="form-control"  name="pymntDdln" th:value="${finePymntInfo.pymntDdln}" th:field ="${finePymntInfo.pymntDdln}" readonly></td>
                                </tr>
                                <tr>
                                    	<th th:text="#{penalty.penalty.tfcEnfDt}">위반 일시</th>
                                        <td><input type="date" class="form-control"  name="tfcEnfDt" th:value="${finePymntInfo.tfcEnfMaster.tfcEnfDt}" th:field ="${finePymntInfo.tfcEnfMaster.tfcEnfDt}" readonly></td>
                                </tr>
                                <tr>
                                    	<th th:text="#{penalty.penalty.roadAddr}">위반장소</th>
                                    	<td th:text="${finePymntInfo.tfcEnfMaster.roadAddr}"></td>
                                </tr>
                                <tr>
                                    	<th th:text="#{penalty.penalty.vioNm}">위반자 이름</th>
                                    	<td th:text="${finePymntInfo.payerNm}"></td>
								</tr>
								<tr>
                                    	<th th:text="#{penalty.penalty.vioNid}">위반자 NID</th>
                                    	<td th:text="${finePymntInfo.tfcEnfMaster.vioId}"></td>
                                </tr>
                                <tr>
                                    	<th th:text="#{penalty.penalty.carNum}">차량번호</th>
                                    	<td th:text="${finePymntInfo.tfcEnfMaster.vhRegNo}"></td>
                                    </tr>
                                    <tr>
                                    	<th th:text="#{penalty.penalty.policeStaticon}">관할 경찰서</th>
                                    	<td th:text="${finePymntInfo.polInfo!=null?finePymntInfo.polInfo.jur:'미지정'}"></td>
                                    </tr>
                                    <tr>
                                    	<th th:text="#{penalty.penalty.detail}">상세 내용</th>
                                    	<td th:text=${finePymntInfo.penaltydetail}></td>
                                    </tr>

                                </tbody>
                            </table>
                            <button th:text="#{penalty.common.listBack}" type="button" id="btnGoList" class="btn btn-outline-secondary" th:onclick="|location.href='@{/penalty/mngList}'|" style="float: right; margin-left: 5px;">목록</button>
                            <button th:text="#{penalty.penalty.modify}" type="button" id="btnModify" class="btn btn-outline-warning" th:onclick="'location.href=\''+@{/penalty/mngModify(pymntId=${finePymntInfo.pymntId})}+'\''" style="float: right;">수정</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>



</th:block>
</html>
<script>



</script>