<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:if="${not #strings.isEmpty(enfSearchVO.carNum) && not #strings.isEmpty(carDetail.carNum)}">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" th:text="#{enforcement.car.search.Ajax.title}">차량 상세정보</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="20%">
                        <col width="30%">
                        <col width="20%">
                        <col width="30%">

                    </colgroup>
                    <tbody>
                    <tr>
                        <th th:text="#{enforcement.car.search.Ajax.carNumber}">차 번호</th>
                        <td th:text="${carDetail.carNum}"></td>
                        <th th:text="#{enforcement.car.search.Ajax.Borrower}">차주 이름</th>
                        <td th:text="${carDetail.carDriverName}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{enforcement.car.search.Ajax.carType}">차종</th>
                        <td th:text="${carDetail.carType}"></td>
                        <th th:text="#{enforcement.car.search.Ajax.carRegistrationDate}">차 등록일</th>
                        <td th:text="${carDetail.regDt}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>

<th:block th:if="${not #strings.isEmpty(enfSearchVO.carNum) && #strings.isEmpty(carDetail.carNum)}">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" th:text="#{enforcement.car.search.Ajax.vehicleDetails}">차량 상세정보</h6>
        </div>
        <div class="card-body">
            <p style="text-align: center;" th:text="#{enforcement.car.search.Ajax.content}">검색 결과가 없습니다.</p>
        </div>
    </div>
</th:block>

