<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 th:text="#{admin.admin.title.detail}" class="h3 mb-4 text-gray-800">관리자 상세정보</h1>

        <div class="row">

            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 th:text="#{admin.admin.detail}" class="m-0 font-weight-bold text-primary" >상세</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col width="20%">
                                    <col width="30%">
                                    <col width="20%">
                                    <col width="30%">

                                </colgroup>
                                <tbody>
                                <tr>
                                    <th th:text="#{admin.admin.id}">아이디</th>
                                    <td th:text="${userVO.oprtrAccountId}"></td>
                                    <th th:text="#{admin.admin.email}">E-mail</th>
                                    <td th:text="${userVO.oprtrEmail}"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{admin.admin.ranking}">등급</th>
                                    <td>
                                        <th:block th:if="${userVO.oprtrPermission}=='sup'" th:text="#{admin.admin.superAdmin}">
                                            슈퍼어드민
                                        </th:block>
                                        <th:block th:if="${userVO.oprtrPermission}=='pol'" th:text="#{admin.admin.police}">
                                            경찰
                                        </th:block>
                                        <th:block th:if="${userVO.oprtrPermission}=='opr'" th:text="#{admin.admin.regionalManager}">
                                            지역담당자
                                        </th:block>
                                    </td>
                                    <th th:text="#{admin.admin.deprt}">담당 부서</th>
                                    <td th:text="${userVO.oprtrDeptNm}"></td>
                                </tr>

                                </tbody>
                            </table>
                            <button th:text="#{admin.admin.listBack}" type="button" id="btnGoList" class="btn btn-outline-secondary" th:onclick="|location.href='@{/user/userList}'|">목록</button>
                            <button th:text="#{admin.admin.modify}" type="button" id="btnRegist" class="btn btn-outline-warning" th:onclick="'location.href=\''+@{/user/userModify(oprtrId=${userVO.oprtrId})}+'\''">수정</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>



</th:block>
</html>
<script>



</script>